{% extends "base.html" %} {% block content %}
<div class="row justify-content-center">
  <div class="col-md-5">
    <h2 class="mb-4">התחברות</h2>
    <form method="post">
      <div class="mb-3">
        <label class="form-label">אימייל</label>
        <input type="email" name="email" class="form-control" required />
      </div>

      <div class="mb-3">
        <label class="form-label">סיסמה</label>
        <input type="password" name="password" class="form-control" required />
      </div>

      <button type="submit" class="btn btn-primary">התחבר</button>
      <a href="{{ url_for('register') }}" class="btn btn-link">אין לך משתמש?</a>
    </form>
  </div>
</div>
{% endblock %}
